#head {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}
.left {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 260px;
    text-align: center;
    margin-top: 15px;
    margin-left: 153px;
    box-sizing: border-box;
}
.Shop
{
    border: 0px;
    background-color: #f8f9fa;
    font-size: 100%;
    color: #adb0b6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;

}

.right {
    display: flex;
    justify-content: space-around;
    width: 355px;
    align-items: center;
    box-sizing: border-box;
}
.banner{
    position: relative;
    
    height: 393px;
    width: 100%;
}
.img {
    position: relative;
    background-image: url("Image 1.png");
    background-position: top;
    background-size: cover;
    margin: auto;
    height: 393px;
    width: 100% 
}
.Text1 {
    position: absolute;
    top: 20%;
    left: 10%;
}
.head2
{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 100%;
}
.left2
{
    display: flex;
    justify-content: space-around;
    width: 520px;
    height: 10%;
    flex-direction: row;
    margin-top: 65px;
    text-align: center;
    gap: 10px;
}
.btn-group
{
    margin-top: 65px;   
}
.btn
{
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border: 0px;
    font-size: 100%;
    color: #569b78;
    background-color: #ffff;
}
.btn:hover
{
    cursor: pointer;
    color: #fefffe;
    background-color: #569b78;
}

.right2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.find
{
    margin-top: 64px;
    width: 235px;
    height: 52px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    border-color: #d3d5d9;
    margin-right: 20px;
    outline: none;
}
.sortb
{
    width: 134px;
    height: 52px;
    margin-top: 64px;
    border: 0px;
    background-color: #f3f4f6;
    color: rgba(98 , 106, 118, 1);
    border-radius: 5px;
    font-size: 120%;
}
.search
{
    border: 1px rgba(211, 213, 217, 0.5) solid;
    width: 198px;
    height: 34px;
    outline: none;
    border-radius: 5px;
}
::placeholder
{
    color: rgba(211, 213, 217, 0.5);
}
.email::placeholder
{
    color: #dee1e6;
    transform: translate(30%);
}
.product
{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.product1
{
    display: flex;
    justify-content: space-around;
}
.Prodcuttitle
{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10%;
    margin-top: 55px;
}
.price
{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.BestSeller
{
    position: absolute;
    top: 2%;
    left: 65%;
    background-color: #ffc970;
    color: #b48435;
    border-radius: 10px;
    padding: 4px;
    font-size: 95%;
}
.cart
{
    position: absolute;
    top: 90%;
    left: 85%;
}
.New
{
    position: absolute;
    top: 2%;
    left: 80%;
    background-color: #ffc970;
    color: #b48435;
    border-radius: 12px;
    padding: 4px; 
    font-size: 95%;
}
.slide
{
    display: flex;
    justify-content: space-around;
    width: 235px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 50px;
    transform: translate(-50%);
}

.btn2
{
    border: 0px;
    border-radius: 50%;
    width: 100px;
    margin-right: 10px;
    background-color: #ffff;
    color: #afb2ba;

}
.btn2:hover
{
    background-color: #f4faf8;
    color: #61ac8e;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.end
{
    display: flex;
    flex-direction: row;
    background-color: #1d2128;
    margin-top: 220px;
    height: 500px;
}
.endDetail
{
    display: flex;
    flex-direction: column;
    color: #f3f4f4;
    width: 30%;
    margin-right: 55px;
}
#Language
{
    width: 126px;
    height: 34px;
    border-radius: 5px;
    border: 1px #dee1e6 solid;
    background-color: #1d2128;
    color: #f3f4f4;
}
.endDetailRight
{
    display: flex;
    flex-direction: column;
    color: #f3f4f4;
    margin-top: 105px;
    width: 50%;
    margin-left: 150px;
}
.email
{
    border-radius: 8px 0px 0px 8px;
    background-color: #1d2128;
    width: 302px;
    height: 50px;
    font-size: 16px;
    border-right: none;
    border: 1px solid #dee1e6;
    outline: none;
}
.sub
{
    border-radius: 8px;
    height: 54px;
    width: 152px;
    background-color: #459d7a;
    border: 1px #459d7a solid;
    color: #ffff;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px ;
    font-size: 110%;
    transform: translate(-20px,0px);
}
.endDetailLeft
{
    display: flex;
    flex-direction: row;
    margin-top: 105px;
    /* margin-right: 200px; */
    justify-content: space-around;
}